* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #eaeaea;
}

h1 {
  color: #023047;
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #fff;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 0 25px;
}

.container {
  display: flex;
  padding: 40px 50px;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.choices {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
}

.select {
  background-color: #0259d4;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
}

.card {
  max-width: 600px;
  background: #fff;
  padding: 16px 32px;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

option,
select {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  border: none;
}

.text-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.message {
  font-size: 20px;
  height: 100%;
  width: 100%;
  resize: none;
  line-height: 1.7;
  border: none;
  background: transparent;
  outline: none;
}

.translation {
  background-color: #0259d4 !important;
}

.translation-msg {
  font-size: 20px;
  height: 100%;
  width: 100%;
  resize: none;
  line-height: 1.7;
  border: none;
  background: transparent;
  outline: none;
  color: #fff !important;
}

form {
  display: flex;
  flex-direction: column;
}

.container button {
  font-size: 20px;
  border: none;
  border-radius: 30px;
  padding: 10px 15px;
  background: #fff;
  color: #0259d4;
  cursor: pointer;
  width: 200px;
  margin: 20px auto 0 auto;
  box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.2);
}

.container button:hover {
  color: #fff;
  background-color: #0259d4;
}

.text-card {
  padding: 12px 32px;
  background: #edf2f4;
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.7;
  height: 340px;
  width: 500px;
  overflow-y: scroll;
  position: relative;
}

.translation .copy-btn {
  position: absolute;
  width: 20px;
  top: 12px;
  right: 12px;
  opacity: 0.7;
  cursor: pointer;
}

.notification {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100px);
  background: #023047;
  color: #fff;
  padding: 12px 24px;
  border-radius: 30px;
  transition: all 400ms ease;
}

.notification.active {
  transform: translate(-50%, -30px);
}

.error {
  color: red;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .text-container {
    flex-direction: column;
    gap: 6px;
  }

  .choices {
    flex-direction: column;
    gap: 8px;
    max-width: 200px;
    align-self: center;
  }

  .card {
    max-width: 350px;
  }

  .container {
    padding: 5px 1px;
  }
}
